#messages{
    position: relative;
    left: -20px;
    top: 50px;
}
#timetable-content {
    position: relative;
    top: -40px;
}
#upcoming{
    position: relative;
    left: -20px;
    top:-170px;
}

#timetable{
    position: relative;
    left: 20px;
    top: 35px;
}

#main-container {
    max-height:  800px;
}

#timetable-title {
    position: relative;
    left: 320px;
}

#messages {
    border:  1px  solid black;
}

#upcoming-events{
    border:  1px  solid black;
}
