#messages{
    position: relative;
    left: -20px;
    top: 30px;
    min-height: 150px;
}
#timetable-content {
    position: relative;
    top: -40px;
}
#upcoming{
    position: relative;
    left: -20px;
    top:-170px;
}

#no-message {
    text-align: center;;
}

#timetable{
    position: relative;
    left: 20px;
    top: 35px;
}

#main-container {
    max-height:  800px;
}

#timetable-title {
    position: relative;
    left: 310px;
}

#events-title {
    position: relative;
    top: -80px;
}

#upcoming-events{
    position: relative;
    top:-86px;
    border:  1px  solid black;
        min-height: 150px;
}

#messages-title {
    position: relative;
    left: -10px;
    top:40px;
}
