{% extends "base.html" %}{# This template is used to show the login box on the pages #}
{% load i18n %}

{% block top-form %}
    {% load widget_tweaks %}
    <form id="login-form"  class="form span3 offset6" method="post" action="#">{% csrf_token %}
        {% if user.is_authenticated %}
            <img id="usyd-logo_id"src="{{STATIC_URL}}tutablr/img/usyd-logo.jpg" alt="usyd-logo" width="70" height="60">
            <div id="logged-in-text">
                <p id="welcome_id">Welcome {{ user.username }} </p>
                <div id="login-links">
                    <a id="logout-btn"href="#">{% trans "Logout" %}</a>  |
                    <a href="#">{% trans "My Timetable" %}</a>                     
                </div>

            </div>
        {% else %}
            <div id="login-input">
                     {{ form.username|append_attr:"class:input-small"|append_attr:"placeholder:Username" }}
                    {{ form.password|append_attr:"class:input-small"|append_attr:"placeholder:Password" }}
                    <button id="login-btn"type="submit">Log In</button>
                     <a id="reset-btn" href="{% url auth_password_reset %}">{% trans "Reset Password" %}</a>
            </div>
                                {{form.errors}}          
          <input type="hidden" name="next" value="{{ next }}" />

        {% endif %}
    </form>
{% endblock %}
