{% extends "base_logged_out.html" %}
{% load i18n %}

{% block extra_head %}
        <link rel="stylesheet" href="{{STATIC_URL}}tutablr/css/dashboard.css" />
{% endblock %}
{% block content %}
    <h2 id="timetable-title" >My Timetable</h2>
    <div id="timetable-content" class="row-fluid">
                <div id="timetable" class="span9">
                    <img src="http://www.placehold.it/800x500" alt="Video Placeholder" />
                </div>
    <h3 id="messages-title"class="home-caption">Recent Messages</h3>
                <div id="messages" class="span3">
                      <div class="caption">
                        {% if messages|length == 0%}
                            <p>You have no new messages!</p>
                        {%else%}
                            {% for message in messages %}
                                <a href="/messages/view/{{message.id}}/?next=/messages/inbox/" title="{{message.subject}}"> {{message.subject}} </a></br>
                            {% endfor %}
                        {%endif%}
                      </div>
                </div>
          

            </div>
    </div>
    <div id="upcoming" class="row-fluid">
                        <div class="span9"> </div>
                        <div  class="span3 ">
                    <h3 id="events-title"class="home-caption">Upcoming Events</h3>
                      <div id = "upcoming-events"class="caption">
                        <p> Add Messages Here Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</p>
                      </div>
                </div>
    </div>
{% endblock %}

{% block navigation-bar %} {# Navigation Bar #}
    <ul class="nav">
        <li class="active"><a href="/dashboard">My Dashboard</a></li>
        <li><a href="/calendar">My Timetable</a></li>
        <li><a href="/messages">My Messages</a></li>
        <li><a href="/">My Profile</a></li>
        <li><a href="/">Find a Tutor</a></li>
    </ul>
{% endblock %}


