{% extends "base.html" %}
{% load i18n %}

{% block content %}
            <div id="home-slideshow" class="span6 offset1">
                <img src="http://www.placehold.it/480x250" alt="Video Placeholder" />
            </div>
            <div id="home-maintext" class="span4">
                <ul class="thumbnails">
                  <li>
                    <div id="home-maintext-thumbnail" class="thumbnail ">
                      
                      <div class="caption">
                        <h3 class="home-caption">Welcome to TuTablr!</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>Cras justo odio, dapibus ac facilisis in, a gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      </div>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        </br>
        </br>
        <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail well">
                  
                  <div class="caption">
                    <h3 class="home-caption">Pricing</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail well">
                  
                  <div class="caption">
                    <h3 class="home-caption">Contact Us</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                 </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail well">
                 
                  <div class="caption">
                    <h3 class="home-caption">Testimonials</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  </div>
                </div>
              </li>
            </ul>
       </div>
{% endblock %}

{% block top-form %}
    {% load widget_tweaks %}
    <form id="login-form"  class="form span3 offset6" method="post" action="/test">{% csrf_token %}
        {% if user.is_authenticated %}
            <div id="logged-in-text">
                {% trans "Logged in" %}: {{ user.username }} 
                (<a href="{% url auth_logout %}">{% trans "Log out" %}</a> )
            </div>
        {% else %}
            <div id="login-input">
                    {{ form.username|append_attr:"class:input-small"|append_attr:"placeholder:Username" }}
                    {{ form.password|append_attr:"class:input-small"|append_attr:"placeholder:Password" }}
            </div>
          <input id="login-btn" type="submit" value="{% trans 'Log in' %}" />
          <input type="hidden" name="next" value="{{ next }}" />
            <a id="reset-btn" href="{% url auth_password_reset %}">{% trans "Reset Password" %}</a>
        {% endif %}
    </form>

{% endblock %}
