{% extends "base_logged_out.html" %}
{% load i18n %}

{% block content %}

{% if form%}
  <div class="span4">
    <form action="/profile/locations/personal/edit" method="POST" accept-charset="utf-8">{% csrf_token %}
  <legend>Edit Preferred Location</legend>
  <span class="help-block">Example block-level help text here.</span>
       <label>Suburb</label>
        {{form.preferred_suburb}}
        <label>Longitude</label>
        {{form.longitude}}
        <label>Latitude</label>
        {{form.latitude}}
        <button type="submit"> Save </button>
  </div>
        <div id="maps" class="span8">
              <div id="map_canvas"></div>
              <input id="address" type="text" name="" value="" placeholder="Address">
              <button onclick="codeAddress()" id="submit" type="button">Geolocate</button>
        </div>
    </form>
{% else %}
  <p>{{response}}</p>

{%endif%}
{% endblock %}

{% block extra_scripts %} 
    <script src="{{STATIC_URL}}tutablr/js/gmaps_location.js"></script>
{% endblock %}

 {% block extra_head %}
    <link rel="stylesheet" href="{{STATIC_URL}}tutablr/css/location_personal.css" />
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXP-Ie48j28NaBt_x-4oVMaE3wpfY7t4s&sensor=true">
     </script>
  {% endblock %}

{% block navigation-bar %} {# Navigation Bar #}
  <ul class="nav">
      <li ><a href="/">Home</a></li>
      <li><a href="/accounts/register">Register As Tutor</a></li>
      <li><a href="#">How TuTablr Works</a></li>
  </ul>
{% endblock %}

{% block body_attributes%}
  onload="initialize()"
{%endblock%}