{% extends "base_logged_out.html" %}
{% load i18n %}

{% block content %}
            <div id="timetable" class="span9">
                <img src="http://www.placehold.it/760x425" alt="Video Placeholder" />
            </div>
            <div id="messages" class="span3">
                  <div class="caption">
                    <h3 class="home-caption">Messages</h3>

                    <p> Add Messages Here Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini</p>
                  </div>
                  <div>
                        <a href="{% url postman_inbox %}">{% trans "Inbox" %}</a>
                        <a href="{% url postman_sent %}">{% trans "Sent" %}</a>
                        <a href="{% url postman_archives %}">{% trans "Archive" %}</a>
                        <a href="{% url postman_trash %}">{% trans "Trash" %}</a>
                        <a href="{% url postman_write %}">{% trans "Write" %}</a>
                      
                  </div>
            </div>
      

        </div>
{% endblock %}

{% block navigation-bar %} {# Navigation Bar #}
    <ul class="nav">
        <li><a href="/dashboard">My Dashboard</a></li>
        <li><a href="/calendar">My Timetable</a></li>
        <li  class="active"><a href="/messages">My Messages</a></li>
        <li><a href="/search/">Find a Tutor</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Settings<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Edit Locations</a></li>
              <li><a href="#">Edit Tutorable Subjects</a></li>
              <li><a href="#">Add Review</a></li>
              <li class="divider"></li>
              <li class="nav-header">My Profile</li>
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Edit Profile</a></li>
            </ul>
         </li>
    </ul>
{% endblock %}
